div(class="chat-list-rooms")
    div(class="rooms-title")
        h2 Mes contacts
        button(class="close-rooms-container") 
            i(class="fa-solid fa-chevron-up")
    ul(class="allRooms-container")
div(class="chat-list-chats")
    div(class="chat-list-title")        
        h2 Conversations en cours
        button(class="close-chats-list rotate-btn") 
            i(class="fa-solid fa-chevron-up")
    div(id='chat-windows' class="closeBox")

