div(class="search-menu d-flex flex-column")
    if users && users.length 
        each user in users 
            a(class="d-flex flex-row align-items-center search-menu-item" href='/users/' + user.username)
                img(class="p-1" style='margin-right: 15px' width="40" height='40' src=user.avatar )
                span= user.username
    else if users && !users.length
        div(class="d-flex flex-row align-items-center search-menu-item")
            p aucun resultats